
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"> 
   <img id="myImg" src="/images/TBR (1).png" alt="TBR" width="600" height="600">
</div>

<html>
<div class="text-center"> 
    <head>
        <title>Customer Form</title>
    </head>
    <body>

        @using(Html.BeginForm("GetByTitle", "Book", FormMethod.Get))
        {
            <input type="text" name="title", class=form-control, value=""/>

            <input type="submit" value="Search" class="btn btn-primary"/>
        }

    </body>
</div>
</html>